
@{
    ViewBag.Title = "List";
   
}

<h2>List</h2>
<div id="productlist-content">
    @Html.Action("GenresMenu")
    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="@Url.Content("~/Content/Images/home-small.png")" />
            @Html.MvcSiteMap().SiteMapPath()
        </div>

        @Html.Partial("_ProductList")


    </div>
</div>